#m1 {

    background-color: lightgreen;
}

p {
    font-weight: bold;
    font-size: xx-large;
}

.text {
   padding-left: 10px;   
   text-align: center;
   border: black;
}

.line {
   border-style: solid;
   border-width: 5px;
   border-bottom: black;
}

.view .delete {
    width: 20%;
    height: auto;
    text-align: center;
}

/* .addBtn {
    background-color: blue;
    height: 10vh;
    width: 100%;
    margin-top: -1rem;
    font-size: x-large;
    font-weight: bold;
    color: white;
} */